/* CSS files add styling rules to your content */

/* old style 
body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px;
    margin: 0; padding: 0;
    background: white;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overscroll-behavior-y: contain;
}

.drawer {
    background: white;
}*/

@import url("/typography.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300&family=Roboto&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,600;1,700&display=swap');

/*Body*/
.withBackground {
    margin: 0;
    background: url(images/background.jpg);

    /* background: url(https://images.unsplash.com/photo-1617545146511-7b27e863c892?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80); */
    /* -webkit-backdrop-filter: tint(#ffffff, 0.4); */
    background-color: rgba(243, 189, 11, 0.144); /* Tint color  */
    background-blend-mode: multiply;
    background-size: contain;
    
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
}


/* #bulb {
    color: #eceff1;
}
#bulb:hover {
    color: #ffd180;
} */

/* Layout */
