<footer>
  <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--accent mdl-button--fab mdl-button--mini-fab" for="search_item">
          <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search_item">
          <label class="mdl-textfield__label" for="sample-expandable">Search...</label>
      </div>
      </div>
  </form>
</footer>
 