footer {
    position: absolute;
    bottom: 0px; 
    left: 0px;
    /* background: #374750; */
    z-index: 100;
    overflow: hidden;
    width: 200px;
    padding: 0 20px;
}

.mdl-button--fab {
    box-shadow: -3px 4px 2.5px 1px rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}

.mdl-button:hover {
    background-color: #ffd080b9;
}
.mdl-textfield__input {
    
}

@media screen and (max-width: 767px){
    footer {
        padding: 0px 15px;
    }
}