<header id="header-bar">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-color--grey-900">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Specify</span>
                <div class="mdl-layout-spacer"></div>
                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect ripple_material_light mdl-color--grey-900"
                    for="demo-menu-lower-right">
                <li class="mdl-menu__item"><img class="icon" src="/images/inventory_24dp.svg">Inventory<div class="borderBottom"></div></li>
                <li class="mdl-menu__item"><img class="icon" src="/images/notifications_active_24dp.svg">Notifications<div class="borderBottom"></div></li>
                <li class="mdl-menu__item"><img class="icon" src="/images/equalizer_24dp.svg">Analytics<div class="borderBottom"></div></li>
                <li class="mdl-menu__item"><img class="icon" src="/images/settings_24dp.svg">Settings<div class="borderBottom"></div></li>
                </ul>
            </div>
        </header>
    </div>
</header>