<header id="header-bar">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-color--grey-900">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" onclick="select_page('home')">Specify</span>
                <div class="mdl-layout-spacer"></div>
                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect ripple_material_light mdl-color--grey-900"
                    for="demo-menu-lower-right">
                <li class="mdl-menu__item" onclick="select_page('scan')" ><i class="material-icons-outlined icon">add</i>Add new item<div class="borderBottom"></div></li>
                <li class="mdl-menu__item" onclick="select_page('inventory')" ><img src="/images/inventory.svg" alt="inventory icon">Inventory<div class="borderBottom"></div></li>
                <li class="mdl-menu__item" onclick="select_page('notifications')" ><img src="/images/notifications.svg" alt="notification active icon">Notifications<span class="mdl-badge" data-badge="2"></span><div class="borderBottom"></div></li>
                <li class="mdl-menu__item" onclick="select_page('stats')" ><i class="material-icons-two-tone icon">equalizer</i>Analytics<div class="borderBottom"></div></li>
                <li class="mdl-menu__item"><img src="/images/settings.svg" alt="settings icon">Settings<div class="borderBottom"></div></li>
                </ul>
            </div>
        </header>
    </div>
</header>