.header {
    position: fixed;
    top: 57px;
    display: flex;
    flex-direction: row;
    /* margin-top: 6vh; */
    align-items: center;
    justify-content: center;
    background-color: #37474f;
    background-size: 100vw 108px;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    z-index: 10;
    /* margin-bottom: 5px; */
}
h4 {
    margin-top: 20px; /*15*/
    margin-bottom: 20px; /*10px with h3*/
    text-transform: lowercase;
    font-style: italic;
    font-weight: bolder;  
}
.header i {
    color: #fdd740 !important;
}
#back {
    position: fixed;
    left: 38%;
    padding: 0;
}
#delete {
    position: fixed;
    right: 38%;
    padding: 0;
}

.container {
    /* margin-top: 15vh; */
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

@media screen and (max-width: 767px){
    #back {
        left: 10px;
    }
    #delete {
        right: 10px; 
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #back {
        left: 22%;
    }
    #delete {
        right: 22%; 
    }
}
/* Extra small mobile */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
    h4 {
        line-height: 24px;
    }
}
