
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.mdl-grid {
    justify-content: center;
    /* margin-top: 10vh;*/   
}

.mdl-cell--12-col {
    display: grid;
    justify-content: center;
}

.mdl-list {
     width: 650px;
    /* min-width: 650px;
    max-width: 690px; */
}
.mdl-list__item {
    padding-top: 0;
}
.mdl-list__item:hover {
    background: rgba(248, 229, 194, 0.452);
}

.mdl-list__item-avatar {
    height: 55px;
    width: 45px;
    border-radius: 10%;
    object-fit: cover;
}

.mdl-list__item--two-line .mdl-list__item-primary-content {
    line-height: 30px;
}
.mdl-list__item-secondary-content {
    display: flex;
    align-items: center;
    padding-top: 17px;
}
.mdl-list__item-secondary-action {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
#stock {
    text-align: right;
    margin-right: -212px;
    margin-bottom: -37px;
    font-size: 1rem;
}

/* .secondary-info {
     padding-right: 6px; 
} */

i.md40px {
    font-size: 40px;
    margin-right: 0; /*-31px; or -30*/
    color:#fdd740;
}
/* .gesture {
    min-width: 640px;
    max-width: 690px;
} */

.hidden-options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 70px;
    margin-top: 16px;
    margin-right: -91px; /*-51px;*/
    background-color: #fdd740;
    /* transform: translateX(-40px) */
}
.shown-options {
    margin-right: -15px;
}
  

/* Swipe class for gesture helper */
.swipeleft {
    margin-left: -5px;
    transform: translateX(-5px);
    transition: all 500ms;
    
}
.swiperight {
    margin-left: 0;
    transform: translateX(60px);
}


@media screen and (max-width: 767px){
    .mdl-list {
        width: 380px;
    }

    .mdl-list__item--two-line .mdl-list__item-primary-content {
        line-height: 28px;
    }
    /* .mdl-list__item-secondary-info {
        padding-right: 5px;
    } */
    #stock {
        margin-right: -80px;
        
    }
    .mdl-list__item {
        font-size: 14px;
    }
}