/* TODO - check sort by menu placing on mobile */
.wrapper {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    /* align-items: center; */  
}

.mdl-grid {
    justify-content: center;
      
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #37474f;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    z-index: 10;
}


#ascending {
    position: fixed;
    /*left: 34.5vw; 660px;*/
    left: 38%;
    padding: 0;
}
#ascending .tooltiptext {
    visibility: hidden;
    width: 60px;
    color: #fdd740b9;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.9rem;
    text-transform: lowercase;
    
    /* Position the tooltip */
    z-index: 10;
    position: fixed;
    top: 9.85vh;
    left: 39vw;
}  
#ascending:hover .tooltiptext {
    visibility: visible;
}

/* #descending {
    position: fixed;
    right: 34.5vw; /*660px;
} */
/* #descending .tooltiptext {
    visibility: hidden;
    width: 60px;
    color: #fdd740b9;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.9rem;
    text-transform: lowercase;
    
    /* Position the tooltip
    z-index: 10;
    position: fixed;
    top: 14.85vh;
    right: 32.5vw; /*620px;
} */
  
/* #descending:hover .tooltiptext {
    visibility: visible;
} */

#sortby {
    position: fixed;
    right: 37%;
    padding: 0;
}
.mdl-button:hover {
    background-color: transparent;
}
#sortby .tooltiptext {
    visibility: hidden;
    width: 60px;
    color: #fdd740b9;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.9rem;
    text-transform: lowercase;
    
    /* Position the tooltip */
    z-index: 10;
    position: fixed;
    top: 9.85vh;
    right: 39vw;
}
  
#sortby:hover .tooltiptext {
    visibility: visible;
}


/* List */

.mdl-list {
     width: 650px;
    /* min-width: 650px;
    max-width: 690px; */
}
.mdl-list__item {
    padding-top: 0;
}
.mdl-list__item:hover {
    background: rgba(248, 229, 194, 0.452);
}

.mdl-list__item-avatar {
    height: 55px;
    width: 45px;
    border-radius: 10%;
    object-fit: cover;
}

.mdl-list__item--two-line .mdl-list__item-primary-content {
    line-height: 30px;
}
.mdl-list__item-secondary-content {
    display: flex;
    align-items: center;
    padding-top: 17px;
}
.mdl-list__item-secondary-action {
    display: flex;
    align-items: center;
}
h4 {
    margin-top: 20px; /*15*/
    margin-bottom: 20px; /*10px with h3*/
    text-transform: lowercase;
    font-style: italic;
    font-weight: bolder;
    
}
a {
    text-decoration: none;
}
#stock {
    line-height: 0px;
    margin: 8px 0 16px;
    font-size: 1rem;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -8px;
    padding-bottom: 0px;
    padding-top: 0px;
    justify-content: flex-end;
    padding-right: 8px;
    margin-top: -8px;
}
#product_list {
    padding: 0px 0;
}


i.md40px {
    font-size: 40px;
    margin-right: 0; /*-31px; or -30*/
    color:#fdd740;
}
i.md28px {
    font-size: 28px;
    color:#fdd740;
}
/* .gesture {
    min-width: 640px;
    max-width: 690px;
} */

.hidden-options { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 70px;
    margin-top: 16px;
    margin-right: -91px; /*-51px;*/
    background-color: #fdd740;
    /* transform: translateX(-40px) */
}
.shown-options {
    margin-right: -15px;
}
  

/* Swipe class for gesture helper */
.swipeleft {
    margin-left: -5px;
    transform: translateX(-5px);
    transition: all 500ms;
    
}
.swiperight {
    margin-left: 0px;
    margin-right: -15px;
    transform: translateX(10px);
    transition: all 400ms;
}



@media screen and (max-width: 767px){
    .mdl-list {
        width: 380px;
    }

    .mdl-list__item--two-line .mdl-list__item-primary-content {
        line-height: 28px;
    }
    .header {
        margin-top: 14px;
    }
    
    .mdl-list__item {
        font-size: 14px;
    }
    
    #ascending {
        position: fixed;
        left: 5px;   
    }
    /* #descending {
        position: fixed;
        right: 5px;
    } */
    #sortby {
        position: fixed;
        /* left: 40%; */
        right: 5px;
    }
    #ascending .tooltiptext {
        /* top: 93px;
        left: 18px; */
        top: 12%;
        left: 6%;
    }
    #sortby .tooltiptext {
        top: 13%;
        /* left: 47%; */
        right: 6%;
    } 
    /* #descending .tooltiptext {
        top: 131px;
        right: 15px;
    } */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        margin-top: 4vh;
    }
    #ascending {
        left: 22%;
    }
    #sortby {
        position: fixed;
        right: 21%;
        /* left: 46vw; */
    }
    #ascending .tooltiptext {
        top: 82px;
        left: 23.7vw; /* 35.7vw; 670px;*/
    }
    #sortby .tooltiptext {
        top: 93px;
        right: 22.7vw;
        /*left: 49.5vw; 950px;*/
        /*right: 38.7vw ; 29.7vw;*/
    } 
    /* #descending .tooltiptext {
        top: 135px;
        right: 29.7vw; /*620px;
    } */
}
@media only screen and (max-height: 914px) and (min-width: 1920px) {
    #ascending .tooltiptext {
        top: 135px;
        left: 35vw; /*670px;*/
    }
    #sortby .tooltiptext {
        top: 135px;
        /*left: 49.5vw; 950px;*/
        right: 32.5vw;
    } 
    /* #descending .tooltiptext {
        top: 135px;
        right: 32.5vw; /*620px;
    } */
}
@media only screen and (max-height: 650px) and (min-width: 1920px) {
    .wrapper {
        display: flex;
        margin-top: 6vh;
    }
}
@media only screen and (max-height: 510px) and (min-width: 1920px) {
    .wrapper {
        display: flex;
        margin-top: 7vh;
    }
    #ascending .tooltiptext {
        top: 125px;
        left: 35vw; /*670px;*/
    }
    #sortby .tooltiptext {
        top: 125px;
        /*left: 49.5vw; 950px;*/
        right: 32.5vw;
    } 
    /* #descending .tooltiptext {
        top: 125px;
        right: 32.5vw; /*620px;
    } */
}
/* Extra small mobile */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
    .mdl-list {
        width: 320px;
    }
    #stock {
        margin-right: -85px;
    }
    .mdl-list__item--two-line .mdl-list__item-primary-content {
        line-height: 18px;
    }
}
