@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&family=Open+Sans:ital@1&display=swap');

.mdl-grid {
    justify-content: center;  
}
.mdl-list {
    width: 650px;
    height: auto;
    margin-top: 18vh;
    row-gap: 10px;
    
}
.mdl-list__item{
    border-radius: 20px;
    
}

@media screen and (max-width: 767px){
    .mdl-layout {
        width: 100vw;
        height: 100%;
        margin-top: 0;
    }
    .mdl-list {
        width: 100vw;
    }
    
}
