.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* .mdl-layout {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
} */
