.ribbon {
    width: 100%;
    height: 40vh;
    background-color: #ff8a65;
    background-size: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    left: 0;
    z-index: -10;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.header {
    position: fixed;
    top: 56px; /* was 57, 56 is better on ipad pro*/
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #37474f;
    background-size: 100vw 108px;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    z-index: 10;
}
h4 {
    margin-top: 20px; /*15*/
    margin-bottom: 20px; /*10px with h3*/
    text-transform: lowercase;
    font-style: italic;
    font-weight: bolder;  
}
.header i {
    color: #fdd740 !important;
}
#back {
    position: fixed;
    left: 38%;
    padding: 0;
}

.container {
    min-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
    justify-content: center;
}

.content {
    border-radius: 2px;
    padding: 80px 56px; /* 180px*/
    margin-bottom: 80px;
}
.centered {
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
}

.prodpic {
    max-width: 200px;
    max-height: 300px;
    margin-right: 20px;
    object-fit: cover;
}

.mdl-textfield {
    width: 100px;
}
.minqty_textfield label {
    display: none;
}


.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left {
    display: flex;
    justify-content: flex-end;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mdl-button--primary.mdl-button--primary {
    float: right;
    display: flex;
    align-items: center;
}
.done {
    font-size: 60px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 20px;
}
p {
    margin: 28px 0 16px;
    font-size: 16px;
    color: rgba(0,0,0,.60);
}


@media screen and (max-width: 767px){
    .header {
        margin-top: 0px;
    }
    #back {
        left: 10px;
    }

    .mdl-cell--3-col-phone {
        width: 25%; /* no background 30% ; originally calc(21% - 8px);*/
    }
    .container {
        height: 100vh;
    }
    .content {
        padding: 130px 0px;
        margin-bottom: 0px;
        height: 90.5vh; /* height property is not needed originally*/
    }
    .mdl-cell--5-col-phone.mdl-cell--5-col-phone {
        width: calc(80% - 16px);
    }

    .right {
        margin-left: 0px !important;
    }
    .left {
        margin-left: 0px !important; /*TODO: try with other image */
        justify-content: center;
    }
    .prodpic {
        max-width: 115px;
        max-height: 300px;
        margin-right: 0px;
        object-fit: cover;
    }
    h5 {
        margin: 40px 0 16px;
        font-size: 20px;
    }
    h3 {
        font-size: 30px;
    }
    h6 {
        font-size: 16px;
    }
    p {
        font-size: 14px;
    }
    
    #hide {
        display: none;

    }
    .mdl-textfield {
        width: 183px; /* 175px*/
    }
    .minqty_textfield label {
        display: inline-block;
    }
    
    .mdl-button--primary.mdl-button--primary {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin-top: 0px;
    }
    #back {
        left: 22%;
    }
    .mdl-cell--8-col, .mdl-cell--8-col-tablet.mdl-cell--8-col-tablet {
        width: calc(45% - 16px);
    }
    .content {
        margin-bottom: 0px;
    }
}


/* Samgung Galaxy S9 */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (max-device-height: 740px) {
    .mdl-cell--3-col-phone {
        width: 22%;
    }
    .content {
        height: 96.5vh; /* height property is not needed originally*/
    }
}

/* Pixel 2, Iphone 6/7/8 Plus */
@media only screen and (min-device-width: 411px) and (max-device-width: 736px) and (max-device-height: 736px) {
    .mdl-cell--3-col-phone {
        width: 25%;
    }
    .mdl-cell--5-col-phone.mdl-cell--5-col-phone {
        width: calc(75% - 16px);
    }
}

/* Iphone 6/7/8 */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (max-device-height: 667px) {
    .mdl-cell--3-col-phone {
        width: 23%;
    }
    .content {
        padding: 87px 15px;
        margin-bottom: 49px;
        margin-top: 40px;
        height: 92vh; /* height property is not needed originally*/
    }
    
}
/* Extra Large mobile - Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-device-height: 812px) and (max-device-height: 812px) {
    .mdl-cell--3-col-phone {
        width: 23%;
    }
    .content {
        padding: 160px 15px;
        margin-bottom: 0;
        height: 97vh; /* height property is not needed originally*/
    }
}
/*  Moto G4, Galaxy S5 */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (max-device-height: 640px) {
    .mdl-cell--3-col-phone {
        width: 22%;
    }
    .content {
        height: 91.5vh;
    }
}
/* Extra Large mobile - Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (min-device-height: 823px) and (max-device-height: 823px) {
    .mdl-cell--3-col-phone {
        width: 25%;
    }
    .content {
        height: 97vh; /* height property is not needed originally*/
    }
    .mdl-cell--5-col, .mdl-cell--5-col-phone.mdl-cell--5-col-phone {
        width: calc(75% - 16px);
    }
}
/* Extra small mobile */
@media only screen and (min-device-width: 320px) and (min-device-height: 568px) and (max-device-height: 568px) {
    .mdl-cell--3-col-phone {
        width: 20%;
    }
    .content {
        padding: 100px 2px;
        margin-bottom: 0px; 
        margin-top: 0px;
        height: 98vh; /* height property is not needed originally*/
    }
    h3 {
        padding-top: 10px;
    }
    .prodpic {
        max-width: 105px;
    }
    h6, p {
        line-height: 20px;
    }
    h5 {
        margin: 35px 0 16px;
    }
}

/* Galaxy Fold*/
@media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (min-device-height: 653px) and (max-device-height: 653px){
    .mdl-cell--3-col-phone {
        width: 17%;
    }
    .content {
        padding: 130px 3px;
        height: 97vh; /* height property is not needed originally*/
    }
    .prodpic {
        max-width: 75px;
    }
    h6, p {
        line-height: 16px;
        font-size: 14px;
    }
    .mdl-cell--5-col-phone.mdl-cell--5-col-phone {
        width: calc(40% - 16px);
    }
    
}