.demo-ribbon {
    width: 100%;
    height: 40vh;
    background-color: #ff8a65;
    flex-shrink: 0;
}

.demo-main {
    margin-top: -25vh;
    flex-shrink: 0;
}
.demo-container {
    min-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.demo-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
    padding: 40px 28px;
}

.demo-content h3 {
    margin-top: 48px;
}  

.iconify { width: 200px; height: 200px; }


/* Camera */
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    object-fit: cover;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;
}
/*#camera--trigger{
    position:relative;
    bottom: 30px;
    left: calc(50% - 100px);
}*/
.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

@media screen and (max-width: 767px){
    .mdl-cell--3-col-phone {
        width: calc(21% - 8px);
    }
}