.ribbon {
    width: 100%;
    height: 40vh;
    background-color: #ff8a65;
    background-size: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    left: 0;
    z-index: -10;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.header {
    position: absolute;
    top: 56px; 
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #37474f;
    background-size: 100vw 108px;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    z-index: 2;
}
h4 {
    margin-top: 20px; /*15*/
    margin-bottom: 20px; /*10px with h3*/
    text-transform: lowercase;
    font-style: italic;
    font-weight: bolder;  
}
.header i {
    color: #fdd740 !important;
}

.container {
    min-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
    justify-content: center;
}

.content {
    border-radius: 2px;
    padding: 80px 56px; /* 180px*/
    margin-bottom: 80px;
}
.centered {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.last {
    border-bottom: 2px solid #fdd740;
}
.nested-list {
    width: 400px;
    margin-left: 10%;
}
.nested-list > .mdl-list__item {
    padding: 5px;
    min-height: 36px;
}
.mdl-button--icon {
    margin-right: 25px;
}
#pdf .material-icons-outlined {
    font-size: 32px;
}
#excel img{
    width: 32px;
}

@media screen and (max-width: 767px){
    .header {
        margin-top: 0px;
    }

    .mdl-cell--3-col-phone {
        width: 25%;
    }   
    .container {
        height: 100vh;
    }
    .content {
        padding: 130px 0px;
        margin-bottom: 0px;
        height: 90vh; /* 97*/
    }
    .nested-list {
        width: 300px;
        margin-left: 0%;
    }
    .range {
        width: 380px !important;
        margin-left: -30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin-top: 0px;
    }
    .mdl-cell--6-col, .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
        width: calc(45% - 16px);
    }
    .content {
        margin-bottom: 0px;
    }
}
/* Samgung Galaxy S9 */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (max-device-height: 740px) {
    .mdl-cell--3-col-phone {
        width: 22%;
    }
    .content {
        height: 97vh;
    }
}
/* Iphone 6/7/8 */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (max-device-height: 667px) {
    .mdl-cell--3-col-phone {
        width: 23%;
    }

    .content {
        height: 97vh;
    }
}
/* Pixel 2, Iphone 6/7/8 Plus */
@media only screen and (min-device-width: 411px) and (max-device-width: 736px) and (max-device-height: 736px) {
    .mdl-cell--3-col-phone {
        width: 25%;
    }
    .content {
        height: 97vh;
    }
    .nested-list {
        margin-left: 5%;
    }
}
/* Extra Large mobile - Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (min-device-height: 812px) and (max-device-height: 812px) {
    .mdl-cell--3-col-phone {
        width: 23%;
    }
    .content {
        height: 97vh;
    }
}
/* Extra Large mobile - Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (min-device-height: 823px) and (max-device-height: 823px) {
    .mdl-cell--3-col-phone {
        width: 25%;
    }
    .content {
        height: 97vh; /* height property is not needed originally*/
    }
    .nested-list {
        margin-left: 5%;
    }
}
/*  Moto G4, Galaxy S5 */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (max-device-height: 640px) {
    .mdl-cell--3-col-phone {
        width: 22%;
    }
    .content {
        height: 96.5vh;
    }
}
/* Extra small mobile */
@media only screen and (min-device-width: 320px) and (min-device-height: 568px) and (max-device-height: 568px) {
    .mdl-cell--3-col-phone {
        width: 20%;
    }
    .content {
        padding: 100px 2px;
        margin-bottom: 0px; 
        margin-top: 0px;
        height: 98vh; /* height property is not needed originally*/
    }
    .nested-list {
        width: 300px;
        margin-left: -6%;
    }
    .row {
        margin-top: -8px;
    }
}

/* Galaxy Fold*/
@media only screen and (min-device-width: 280px) and (max-device-width: 653px) and (min-device-height: 653px) and (min-device-height: 653px) and (max-device-height: 653px){
    .mdl-cell--3-col-phone {
        width: 17%;
    }
    .content {
        padding: 130px 3px;
        height: 97vh; /* height property is not needed originally*/
    }
    .nested-list {
        width: 250px;
        margin-left: -9%;
    }
}
