.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* .mdl-layout {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
} */
.mdl-card {
    width: 350px;
    height: 450px;
}

.mdl-card__title {
    height: 87px; /* was 95*/
    padding-bottom: 23px; /*was 32*/
    
}
.mdl-card__supporting-text {
    width: 100%;
    padding: 40px; /*was 45*/
}

.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

a, p {
    font-size: 1rem;
}

a:hover {
    cursor: pointer;
}
.link-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_small {
    font-size: 12px;
    margin-right: -8px !important;
    border: 1px solid;
    border-radius: 3px;
}



@media screen and (max-width: 767px){
    /* .mdl-layout {
        width: 100vw;
        height: 100%;
    } */
    .mdl-card {
        width: 94vw; /* or 100vw*/
        height: auto;  
    }
    .mdl-cell--12-col-phone {
        width: 100%;
        padding: 0;
    }
    
    
}
/* Surface Duo */
@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (max-device-height: 720px){
    .mdl-card {
        width: 75vw;
        height: auto;
    }
}
