.mdl-layout {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 26vh;
}
.mdl-card {
    width: 350px;
    height: 450px;
}

.mdl-card__title {
    height: 95px;
    padding-bottom: 32px;
    
}
.mdl-card__supporting-text {
    width: 100%;
    padding: 45px;
}

.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

a, p {
    font-size: 1rem;
}

a:hover {
    cursor: pointer;
}

.button_small {
    font-size: 12px;
}



@media screen and (max-width: 767px){
    .mdl-layout {
        width: 100vw;
        height: 100%;
    }
    .mdl-card {
        width: 100vw;
        height: auto;  
    }
    .mdl-cell--12-col-phone {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .mdl-card.mdl-shadow--6dp { 
        box-shadow: none;
    }
    
}
