<li data-ui-field ="list-item-alert" class="mdl-list__item mdl-grid mdl-shadow--2dp">
    <div class="mdl-list__item-primary-content mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                <span id="alert">S</span>
                <div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-phone">
                    <h6>Specify inventory</h6>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-phone">
                    <p data-ui-field="note-time" id="notification-time">now</p>
                </div>
    </div>
    <div class="mdl-list__item-primary-content mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
        <h5 data-ui-field="note-heading">Time to order!</h5>
    </div>
    <div class="mdl-list__item-primary-content mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
        <p data-ui-field="note-text">You are running low on <span data-ui-field="product_name">Thai Peanut Noodle kit</span></p>  
    </div>
</li>