<div data-ui-field="category" id="select_category" class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
    <label for="select_box_category" class="mdl-selectfield__label"><i class="material-icons">category</i>Category:</label>
    <select id="select_box_category" name="select_box_category" class="mdl-selectfield__select">
        <option value=""></option>
        <option value="1">dairy</option>
        <option value="2">bakery</option>
        <option value="3">fruit</option>
        <option value="4">vegetables</option>
        <option value="5">meat</option>
        <option value="6">fish & seafood</option>
        <option value="7">vegetarian</option>
        <option value="8">vegan</option>
        <option value="9">frozen food</option>
        <option value="10">ready meals</option>
        <option value="11">drinks</option>
        <option value="12">snacks & sweets</option>
        <option value="13">cupboard foods</option>
        <option value="14">cooking ingredients</option>
        <option value="15">exotic food</option>
    </select>    
</div>