.mdl-list__item {
    padding-top: 0;
}
.mdl-list__item:hover {
    background: rgba(248, 229, 194, 0.452);
}
.mdl-list__item-avatar {
    height: 55px;
    width: 45px;
    border-radius: 10%;
    object-fit: cover;
}
.mdl-list__item--two-line .mdl-list__item-primary-content {
    line-height: 30px;
}

/* .mdl-list__item-secondary-info {
    padding-right: 42px;
} */
.edit {
    padding-left: 30px;
}

@media screen and (max-width: 767px){
    .mdl-list__item--two-line .mdl-list__item-primary-content {
        line-height: 28px;
    }
    .edit {
        padding-left: 15px;
    }
    .mdl-list__item {
        font-size: 14px;
    }
    
    
}