<li data-ui-field="list-item" class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
        <img data-ui-field="product-image" class="mdl-list__item-avatar"src="https://static.openfoodfacts.org/images/products/807/680/951/3753/front_fr.123.400.jpg"></img>
        <span data-ui-field="product-name" class="product_name">Pesto alla Genovese</span>
        <span data-ui-field="barcode" class="mdl-list__item-sub-title">8076809513753</span>
    </span>
    <span class="mdl-list__item-secondary-content">
        <span data-ui-field="in-stock" class="mdl-list__item-secondary-action">23<i class="material-icons md40px">chevron_left</i></span>
    </span>
    <div data-ui-field="swipe-menu" class="hidden-options"><a href="#" onclick="select_page('edit')"><i class="material-icons mdl-color-text--grey-900">edit</i></a></div>
   
</li>