.mdl-card {
    width: 350px;
    height: 450px;
}

.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

a, p {
    font-size: 1rem;
}

a:hover {
    cursor: pointer;
}

.mdl-card__title {
    height: 95px;
    padding-bottom: 32px;
    
}
