.mdl-card {
    width: 350px;
    height: 450px;
}

.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}

a, p {
    font-size: 1rem;
}

a:hover {
    cursor: pointer;
}

.mdl-card__title {
    height: 95px;
    padding-bottom: 32px;
    
}
@media screen and (max-width: 767px){
    .mdl-card {
        width: 100vw;
        height: auto;  
    }
    .mdl-card__supporting-text {
        padding: 40px;
        width: 100%;
    }
    .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .mdl-cell--4-col-phone.mdl-cell--4-col-phone {
        width: calc(40% - 16px);
    }

    div.mdl-card.mdl-shadow--6dp { 
        box-shadow: none;
    }
    
}