
<div class="mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 data-ui-field="title" class="mdl-card__title-text">Register</h2>    
    </div>
    <div class="mdl-card__supporting-text">
        <form action="#">
            <div data-ui-field="textfield1" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="fullname" id="fullname" />
                <label class="mdl-textfield__label" for="fullname">Full name</label>
            </div>
            <div data-ui-field="textfield2" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="" id="" />
                <label class="mdl-textfield__label" for=""></label>
            </div>
            <div data-ui-field="numerical-input1" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="phone">
                <label class="mdl-textfield__label" for="phone">Phone number</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <div data-ui-field="textfield3" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" id="email" />
                <label class="mdl-textfield__label" for="email">Email</label>
            </div>
            
        </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button data-ui-field="button"
            class="mdl-cell mdl-cell--4-col mdl-cell--4-col-phone mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" style="float:right">
            Next
        </button>
    </div>
</div>